h1{
    font-size: 48px;
    margin: 0px;
}
.titles{
    background-color: grey;
    font-weight: bold;
    text-align: center;
    /*font-size: 28px;*/
}
.floathis{
    float: left;
    margin: 12px;
    width: 20%;
    height: 300px;
}
footer{
    clear: left;
}